###
### {{ ansible_managed }}
###
CODA_SITE_API_SERVER_PORT={{ coda_site_api_port }}
CODA_SITE_API_HUB_API_URL={{ coda_green_hub_api_url }}
CODA_SITE_API_HOSPITAL_CODE={{ coda_site_id }}
CODA_SITE_API_KEYCLOAK_URL_AND_REALM={{ coda_site_api_keycloak_url_and_realm }}
CODA_SITE_API_KEYCLOAK_CLIENT_ID={{ coda_site_api_keycloak_client_id }}
CODA_SITE_API_KEYCLOAK_APP_USERNAME={{ coda19_site_api_keycloak_app_username }}
CODA_SITE_API_KEYCLOAK_APP_PASSWORD={{ coda19_site_api_keycloak_app_password }}
CODA_SITE_API_STATS_API_ENDPOINT={{ coda_site_api_stats_api_endpoint }}
CODA_SITE_API_LEARNING_API_ENDPOINT={{ coda_site_api_learning_api_endpoint }}

# TODO: manage proxy correctly
#CODA19_SITE_API_PROXY={{ coda_site_api_websocket_proxy | default('') }}
