###
### {{ ansible_managed }}
###
CODA_STATS_API_PORT={{ coda_stats_api_port }}
CODA_STATS_API_FAKE_AIDBOX={{ coda_stats_api_fake_aidbox }}
CODA_STATS_API_AIDBOX_URL={{ coda_stats_api_aidbox_url }}
CODA_STATS_API_CLIENT_ID={{ coda_stats_api_aidbox_client_id }}
CODA_STATS_API_CLIENT_SECRET={{ ul_aidbox_conf_client_secret | default('') }}